<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContentRepository.Properties.Settings.ContentRepositoryConnectionString"
            connectionString="Data Source=.;Initial Catalog=ContentRepository;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>