<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TempDirPath" value="E:\projects\DMIS\trunk\temp\" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceEndpoint" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:10001/" binding="netTcpBinding"
        bindingConfiguration="ServiceEndpoint" contract="FileService.IFileService"
        name="ServiceEndpoint">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>